Hallo ini adalah pertamakalinya saya menggunakan Pandas

In [2]:
import pandas as pd

df = pd.read_csv("./resources/sample_data/Jenis Permukaan Jalan Kabupaten&Kota Tahun 2023.csv")
df.head()

  Kode Prov;Provinsi;Paved;Paved_%;UnPaved;UnPaved_%;Jumlah
0  11;Aceh;10905.91136;56.16394424;8512.08271;43....
1  12;Sumatera Utara;19185.8563;62.49689133;11513...
2  13;Sumatera Barat;12478.17028;65.57047277;6551...
3  14;Riau;9030.032757;47.41931305;10012.91025;52...
4  15;Jambi;4854.027201;51.3339557;4601.755302;48...