In [1]:
import pandas as pd

data = {"value": [12, 33, 5, 44, 26, 31, 60, 72, 95]}
data['bin'] = pd.cut(data['value'], bins=[0, 30, 70, 100], labels=["Low", "Mid", "High"])

df = pd.DataFrame(data)
df

   value   bin
0     12   Low
1     33   Mid
2      5   Low
3     44   Mid
4     26   Low
5     31   Mid
6     60   Mid
7     72  High
8     95  High