In [1]:
import pandas as pd

Developer = pd.DataFrame({"Name": ["Sofyan Gio", "Adi Kurniawan", "Beta Dwi"], "Age": [16,17,16]})
print("Developer SMKN 1 Mejayan:")
Developer

Developer SMKN 1 Mejayan:

            Name  Age
0     Sofyan Gio   16
1  Adi Kurniawan   17
2       Beta Dwi   16

In [2]:
# Spitting
Developer[['First', "Last"]] = Developer.Name.str.split(expand=True)
print("After Splitting: ")
Developer

After Splitting:

            Name  Age   First       Last
0     Sofyan Gio   16  Sofyan        Gio
1  Adi Kurniawan   17     Adi  Kurniawan
2       Beta Dwi   16    Beta        Dwi

In [3]:
data_test = pd.DataFrame({"Name": ["Sofyan Gio", "adi kur"], "Age": [16, 12]})
data_test[["helo",'tes']] = pd.DataFrame([["hello bang", 'test ini'],["hello si", 'test si']])
data_test

         Name  Age        helo       tes
0  Sofyan Gio   16  hello bang  test ini
1     adi kur   12    hello si   test si

In [4]:
print(data_test.Age)

0    16
1    12
Name: Age, dtype: int64